.container {
  display: inline-flex;
}

.title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
}

.list {
  display: flex;
  width: calc(100vw - 25px);
  overflow-x: hidden;
}

.tvshow_wrapper {
  cursor: pointer;
  padding-bottom: 17px;
  &:hover {
    overflow: auto;
    padding-bottom: 0px;
  }
}