.main_container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

.header {
  flex: 2;
}

.recommended_tv_shows{
 flex: 2;
}